@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
    background-color: black;
    color: white;
}

canvas {
    border: 1px solid #fff;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

pre {
    display: inline-block;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    white-space: pre-wrap; /* Preserve line breaks */
    line-height: 0.7;
    height: auto;
}

.Container {
    background-color: black;
    border-color: rgb(127, 0, 0);
    border-style: solid;
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height: auto;
    overflow: auto;
}

.dropMenu {
    border-color: white;
    border-style: dashed;
    height: 5vh;
    display: grid;
    align-items: center;
}

.drpMnu {
    width: 10%;
}

/*
@keyframes ProgressBar {
    from {width: 10%;}
    to {width: 100%;}
}

.drpMnu:hover {
    animation-name: ProgressBar;
    animation-duration: 10s;
}
*/
#mainScene {
    border-color: white;
    border-style: solid;
    border-width: 3px;
    height: auto;
    padding-bottom: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 0;
    line-height: 0px;
    text-align: center;

}

.box {
    line-height: 0;
}

.btns {
    height: 5vh;
}

.btn {
    border: 1;
    border-color: purple;
    font-size: 16px;
    background-color: yellow;
    color: black;
    margin-left: 10px;
    transition-duration: 0.4s;
    bottom: 0px;
}

.btn:hover {
    background-color: purple;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: yellow;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

a:hover {
    color: yellow;
}
